body {
    /* padding-top: 84px; */
}

.jumbotron {
    position: relative;
    display: flex;
    margin-top: 128px;
    height: 250px;
    background-color: #C60E2A;
    align-items: center;
    overflow: visible;
}

.jumbotron .small-img {
    width: auto;
    height: 100%;
    margin: 0 128px;
    object-fit: contain;
}

.jumbotron .custom-img {
    position: absolute;
    left: 50%;
    top: 50%; /* Supaya keluar ke atas */
    transform: translate(-50%, -50%);
    width: auto;
    height: 300px;
    object-fit: contain;
    border: 2px solid #C60E2A;
    z-index: 10;
}
